@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
section.contenedor {
  min-height: 100vh;  
  background: rgb(232, 234, 236);
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}
section {
  background: rgb(174, 197, 219);
  display: flex !important;
  /* grid-template-columns: 2fr 2fr; */
  align-items: center;
  border-radius: 15px;
  text-align-last: center;
  text-align: center;
}
.hora{
  background: rgb(100, 157, 248);
  border-radius: 10px;
  color: white
}
.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 15px;
  padding: 5px;
  justify-items: center;
}
@media only screen and (min-width: 768px) {
  .container-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}